.input-card-div{
    height: 100vh;
    display: flex;
}

.input-card{
    width: 40%;
    height: 40%;
    

    border-radius: 10px;
    border: 5px solid #FFA101;

    padding: 20px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-card select{
    width: 200px;
    margin: 10px;
}

.input-card button{
    background-color: #FFA101;
    text-decoration: none;

    border-radius: 8px;
    border:5px solid #FFA101;

    width: fit-content;
    padding: 5px;
}

.input-card button :hover{
   font-weight: bolder;
   padding: 10px;
}

.InputCard a{
    text-decoration: none;
    color: black;
}