.weather-card-div{
    height: 100vh;

    display: flex;
}
.weather-card{
    width: 50%; 

    margin: auto;
    padding: 10px 20px 10px 10px;

    border-radius: 10px;
    border: 5px solid #FFA101;
}

.top{
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.icon-temp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icon-temp img{

    width:90px;
    margin: 2px;
}

.bottom{
    padding: 0px 30px 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left{
    width:fit-content;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.back-button{
    background-color: #FFA101;
    text-decoration: none;

    border-radius: 8px;
    border:5px solid #FFA101;

    width: fit-content;
    padding: 5px;
}

.back-button :hover{
    font-weight: bolder;
    padding: 5px;
 }
 
.weather-card a{
    text-decoration: none;
    color: black;
}


